.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  
  z-index: 1000;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.glyphicon:active{
    color: #16c7da;
    text-shadow: 3px 3px 5px  #bfdde0;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.centered-layout{
    margin-top: calc(8% - 10px);
}

.registerPanel{
    background: white;
    padding: 5% ;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    

}